            @media all and (max-width: 1200px) {
                #questions .questions-main .questions a {
                    font-size: 20px;
                }
                #questions .questions-main .questions img {
                    height: 115px;
                }
                #questions .questions-main .questions {
                    height: 245px;
                    padding: 60px 0px 0px 45px;
                }
            }
            
            @media all and (max-width: 992px) {
                #questions .questions-main .questions a {
                    font-size: 17px;
                }
                #questions .questions-main .questions img {
                    height: 95px;
                }
                #questions .questions-main .questions {
                    height: 215px;
                    padding: 50px 0px 0px 11px;
                }
            }
            
            @media all and (min-width: 768px) {
                .navbar .container-fluid .navbar-collapse .navbar-small {
                    display: none;
                }
            }
            
            @media all and (max-width: 768px) {
                body {
                    border-right: none;
                }
                .navbar {
                    background-color: #963901;
                }
                .navbar .navbar-header {
                    margin-left: 15px;
                }
                .navbar .navbar-header .navbar-toggle {
                    float: left;
                    border: none;
                }
                .navbar .navbar-header .navbar-toggle span {
                    width: 40px;
                    height: 6px;
                    background-color: #e4e1d7;
                }
                .navbar-default .navbar-toggle:hover {
                    background-color: transparent;
                }
                .navbar-default .navbar-collapse {
                    border: none;
                    box-shadow: none;
                    float: left;
                    text-align: left;
                    margin-left: 8px;
                }
                .navbar-default .navbar-collapse .navbar-small li a {
                    color: #e4e1d7;
                    font-weight: 800;
                    font-size: 22px;
                }
                .navbar-default .navbar-collapse .navbar-small li:last-child a {
                    font-size: 12px;
                }
            }